@model List<Review.Model.Reviewer>
<div class="pagetitle">
    <h1>Reviewers</h1>
</div>

<div class="col-4" style="margin-top: 30px; margin-bottom: 30px; width: 200px;">
    <a asp-action="Create" class="btn btn-outline-primary" style="display: inline-block; width: 100%;"><i class="bi-plus-circle"></i> New reviewer</a>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive" style="margin-top: 20px;">
            <table class="table datatable" id="tbl-reviewers">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th class="d-none d-md-table-cell">Date Of Birth</th>
                        <th class="d-none d-md-table-cell">Gender</th>
                        <th class="d-none d-md-table-cell">About</th>
                        <th data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach( var item in Model ) {
                        <tr>
                            <td>@item.FirstName</td>
                            <td>@item.LastName</td>
                            <td class="d-none d-md-table-cell">@item.DateOfBirth.Date.ToString( "dd/MM/yyyy" )</td>
                            <td class="d-none d-md-table-cell">@item.Gender</td>
                            <td class="d-none d-md-table-cell">@Truncate( item.About, 38 )</td> <!-- Truncate to 38 characters -->
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi-pencil-square"></i></a>
                                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="bi-box-arrow-up-right"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger btn-sm delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@functions {
    public string Truncate( string value, int maxLength ) {
        if( string.IsNullOrEmpty( value ) ) return value;
        return value.Length <= maxLength ? value : value.Substring( 0, maxLength ) + "...";
    }
}

