@model List<Review.Model.Car>

<table class="table datatable" id="tbl-cars">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
           @*  <th class="d-none d-md-table-cell">Generation</th> *@
            @* <th class="d-table-cell d-md-none">Model</th> *@
            @* <th class="d-none d-xxl-table-cell">Country</th> *@
            @* <th class="d-none d-xxl-table-cell">Engine</th> *@
            <th class="d-none d-md-table-cell">Reviewer</th>
            <th class="d-none d-md-table-cell">Rating</th>
            <th data-sortable="false"></th>
        </tr>
    </thead>
    <tbody>
        @if( Model == null || !Model.Any() ) {
            <!-- Row for no results -->
            <tr>
                <td colspan="9" class="text-center">No cars found.</td>
            </tr>
        }
        else {
            @foreach( var item in Model ) {
                var years = item.ModelYearTo.HasValue ? @String.Format("{0}-{1}", item.ModelYearFrom.Year, item.ModelYearTo.Value.Year) : item.ModelYearFrom.Year.ToString();
                var generationName = item.Generation.Replace(item.Brand?.Name, "").Replace(item.Model?.Name, "").Replace(item.ModelYearFrom.Year.ToString(), "");
                if( item.ModelYearTo.HasValue ) {
                    generationName = generationName.Replace(item.ModelYearTo.Value.Year.ToString(), "");
                }
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">@item.Brand?.Name</a>
                    </td>
                    <td class="d-none d-md-table-cell">
                        @* <a asp-action="Blog" asp-route-id="@item.ID">@item.Model?.Name @generationName (@years)</a> *@
                        <a asp-action="Blog" asp-route-id="@item.ID">@item.Generation</a>
                    </td>
                    @* <td class="d-none d-md-table-cell">@item.Generation (@item.ModelYear.Year)</td> *@
@*                     <td class="d-none d-md-table-cell">
                        <a asp-action="Blog" asp-route-id="@item.ID">@item.Generation</a>
                    </td> *@
                    @* <td class="d-none d-xxl-table-cell">@item.Brand.Country?.Name</td> *@
                    @* <td class="d-none d-xxl-table-cell">@item.Engine</td> *@
                    <td class="d-none d-md-table-cell">
                        <a asp-controller="Reviewer" asp-action="Details" asp-route-id="@item.ReviewerID">@item.Reviewer?.FullName</a>
                    </td>
                    <td class="d-none d-md-table-cell">
                        <div class="star-rating small-stars read-only">
                            @{
                                var ratingName = $"rating_{item.ID}";
                            }
                            <input asp-for="@item.Rating" class="form-check-input" type="radio" id="star5_@item.ID" name="@ratingName" value="5" disabled /><label for="star5_@item.ID" title="5 stars">★</label>
                            <input asp-for="@item.Rating" class="form-check-input" type="radio" id="star4_@item.ID" name="@ratingName" value="4" disabled /><label for="star4_@item.ID" title="4 stars">★</label>
                            <input asp-for="@item.Rating" class="form-check-input" type="radio" id="star3_@item.ID" name="@ratingName" value="3" disabled /><label for="star3_@item.ID" title="3 stars">★</label>
                            <input asp-for="@item.Rating" class="form-check-input" type="radio" id="star2_@item.ID" name="@ratingName" value="2" disabled /><label for="star2_@item.ID" title="2 stars">★</label>
                            <input asp-for="@item.Rating" class="form-check-input" type="radio" id="star1_@item.ID" name="@ratingName" value="1" disabled /><label for="star1_@item.ID" title="1 star">★</label>
                        </div>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm d-none d-md-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="bi-box-arrow-up-right"></i></a>
                        @if( User.IsInRole( "Administrator" ) ) {
                            <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi-pencil-square"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger btn-sm delete-btn" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"><i class="bi-trash"></i></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@functions {
    public string Truncate( string value, int maxLength ) {
        if( string.IsNullOrEmpty( value ) ) return value;
        return value.Length <= maxLength ? value : value.Substring( 0, maxLength ) + "...";
    }
}
