@model List<Review.Model.Car>


@if( Model == null || !Model.Any() ) {
    <!-- Row for no results -->
    <tr>
        <td colspan="9" class="text-center">No cars found.</td>
    </tr>
}
else {
    @foreach( var item in Model ) {
        decimal rating = 0;
        if( item.CarReviews.Count > 0 && item.CarReviews != null ) {
            item.Rating = Convert.ToDecimal( item.CarReviews.Sum( x => x.Rating ) ) / Convert.ToDecimal( item.CarReviews.Count );
            //rating = Convert.ToDecimal( item.CarReviews.Sum( x => x.Rating ) ) / Convert.ToDecimal( item.CarReviews.Count );
        }
        var years = item.ModelYearTo.HasValue ? @String.Format( "{0}-{1}", item.ModelYearFrom.Year, item.ModelYearTo.Value.Year ) : item.ModelYearFrom.Year.ToString();
        var generationName = item.Generation.Replace( item.Brand?.Name, "" ).Replace( item.Model?.Name, "" ).Replace( item.ModelYearFrom.Year.ToString(), "" );
        if( item.ModelYearTo.HasValue ) {
            generationName = generationName.Replace( item.ModelYearTo.Value.Year.ToString(), "" );
        }
        <tr>
            <td style="display: none;"></td>
            <td>
                <a class="text-decoration-none" asp-action="Details" asp-route-id="@item.ID">@item.Generation</a>
            </td>
            <td style="display: none;"></td>
            <td class="d-none d-md-table-cell">
                <div class="star-rating small-stars read-only" data-rating="@item.Rating">
                    <span>★★★★★</span>
                </div>
                @String.Format( "{0}", item.Rating > 0 ? item.Rating.ToString() : "" )
            </td>
            <td class="text-center">
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm d-none d-md-inline-block" data-bs-toggle="tooltip" data-bs-placement="top" title="Details"><i class="bi-box-arrow-up-right"></i></a>
                @if( User.IsInRole( "Administrator" ) ) {
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="bi-pencil-square"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-outline-danger btn-sm delete-btn" data-bs-toggle="tooltip" data-bs-placement="top"  title="Delete"><i class="bi-trash"></i></a>
                }
            </td>
        </tr>
    }
}


@functions {
    public string Truncate( string value, int maxLength ) {
        if( string.IsNullOrEmpty( value ) ) return value;
        return value.Length <= maxLength ? value : value.Substring( 0, maxLength ) + "...";
    }
}
