@model List<Review.Model.Car>
<div class="table-responsive" style="margin-top: 20px;">
    <table class="table datatable" id="tbl-cars">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Generation</th>
                <th>Country</th>
                <th>Engine</th>
                <th>Reviewer</th>
                @* <th>Description</th> *@
                <th>Rating</th>
                <th data-sortable="false"></th>
            </tr>
        </thead>
        <tbody>
            @foreach( var item in Model ) {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.ID">@item.Brand?.Name</a>
                    </td>
                    <td>
                        <a asp-action="Blog" asp-route-id="@item.ID">@item.Model</a>
                    </td>
                    <td>@item.Generation (@item.ModelYear.Year)</td>
                    <td>@item.Brand.Country?.Name</td>
                    <td>@item.Engine</td>
                    <td>
                        <a asp-controller="Reviewer" asp-action="Details" asp-route-id="@item.ReviewerID">@item.Reviewer?.FullName</a>
                    </td>
                    @* <td>@Truncate( item.Description, 32 )</td> <!-- Truncate to 32 characters --> *@
                    <td>@item.Rating ★</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm"><i class="bi-pencil-square"></i> Edit</a>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-outline-primary btn-sm"><i class="bi-box-arrow-up-right"></i> Details</a>
                        @* <a asp-action="EditReviewer" asp-route-id="@item.ReviewerID" class="btn btn-outline-primary btn-sm"><i class="bi-pencil-square"></i> Edit reviewer</a> *@
                        <a asp-action="DeleteCar" asp-route-id="@item.ID" class="btn btn-outline-danger btn-sm"><i class="bi-trash"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@functions {
    public string Truncate( string value, int maxLength ) {
        if( string.IsNullOrEmpty( value ) ) return value;
        return value.Length <= maxLength ? value : value.Substring( 0, maxLength ) + "...";
    }
}