@model Review.Model.Car
@{
    ViewData["Title"] = "Blog";
}
<ol class="breadcrumb">
    <li><a asp-action="Index">Cars list /</a></li>
    <li class="active">&nbsp;@Model.Brand?.Name</li>
</ol>
<div class="pagetitle">
    <h1>Details</h1>
</div>
@if (Model != null)
{
    <div class="row">
        <hr />
        <div class="col-md-10">
            <h2>@Model.Brand?.Name @Model.Model</h2>
            <ul>
                <li>Engine of this car is: @Model.Engine</li>
                <li>It has top speed of: @Model.TopSpeed km/h</li>
                <li>Acceleration time (0-100km/h): @Model.Acceleration sec.</li>
                <li>Year of model: @Model.ModelYear.Year.</li>
                <li>Country: @Model.Brand.Country?.Name</li>
            </ul>
        </div>
    </div>
    <div class="range">
        <h3>About @Model.Model</h3>
        <p>
            @Model.Description
        </p>
    </div>


}
else
{
    <div class="alert alert-danger">
        Nije odabran ispravni ID automobila.
    </div>

}
