@model Review.Model.Car
@{
    ViewData["Title"] = "Blog";
    string generation = Model.Generation != "" ? String.Format( "({0})", Model.Generation ) : "";
}
<ol class="breadcrumb">
    <li><a asp-action="Index">Cars list /</a></li>
    <li class="active">&nbsp;@Model.Brand?.Name</li>
</ol>
<div class="pagetitle">
    <h1>Details</h1>
</div>
@if( Model != null ) {
    <div class="row">
        <hr />
        <div class="col-12 col-md-10">
            <h2>@Model.Brand?.Name @Model.Model @generation</h2>
            <ul>
@*                 <li>Engine of this car is: @Model.Engine</li>
                <li>It has top speed of: @Model.TopSpeed km/h</li>
                <li>Acceleration time (0-100km/h): @Model.Acceleration sec.</li>
                <li>Year of model: @Model.ModelYear.Year.</li> *@
                <li>Country: @Model.Brand.Country?.Name</li>
            </ul>
        </div>
    </div>
    <div class="range">
        <h3>About @Model.Model</h3>
        <p>@Model.Description</p>
        <div class="row">
            <div class="col-12">
                <h4>Rating of @Model.Model</h4>
                <div class="star-rating read-only blog-read">
                    <input asp-for="Rating" class="form-check-input" type="radio" id="star5" name="rating" value="5" disabled /><label for="star5" title="5 stars">★</label>
                    <input asp-for="Rating" class="form-check-input" type="radio" id="star4" name="rating" value="4" disabled /><label for="star4" title="4 stars">★</label>
                    <input asp-for="Rating" class="form-check-input" type="radio" id="star3" name="rating" value="3" disabled /><label for="star3" title="3 stars">★</label>
                    <input asp-for="Rating" class="form-check-input" type="radio" id="star2" name="rating" value="2" disabled /><label for="star2" title="2 stars">★</label>
                    <input asp-for="Rating" class="form-check-input" type="radio" id="star1" name="rating" value="1" disabled /><label for="star1" title="1 star">★</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        @if( Model.ImageData != null ) {
            <img src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)" class="img-fluid shadow mb-5 bg-body rounded" alt="Car Image" />
        }
    </div>
}
else {
    <div class="alert alert-danger">
        Nije odabran ispravni ID automobila.
    </div>
}
