@model Review.Model.Car
@{
    ViewData["Title"] = "Details";
    decimal rating = 0;
    if( Model.CarReviews.Count > 0 && Model.CarReviews != null ) {
        Model.Rating = Convert.ToDecimal( Model.CarReviews.Sum( x => x.Rating ) ) / Convert.ToDecimal( Model.CarReviews.Count );
        rating = Convert.ToDecimal( Model.CarReviews.Sum( x => x.Rating ) ) / Convert.ToDecimal( Model.CarReviews.Count );
    }
    var groupedEngines = Model.Engines.GroupBy( e => e.FuelType ).ToList();
}
<ol class="breadcrumb">
    <li><a asp-action="Index">Cars list /</a></li>
    <li class="active">&nbsp;@Model.Generation</li>
</ol>
<div class="pagetitle mb-2">
    <h1>Car details</h1>
</div>
@if( Model != null ) {
    <div class="card">
        <div class="card-body pb-0">
            <div class="row my-3">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-5">Brand</dt>
                        <dd class="col-sm-7">@Html.DisplayFor( model => model.Brand.Name )</dd>
                        <dt class="col-sm-5">Model</dt>
                        <dd class="col-sm-7">@Html.DisplayFor( model => model.Model.Name )</dd>
                        <dt class="col-sm-5">Generation</dt>
                        <dd class="col-sm-7">@Html.DisplayFor( model => model.Generation )</dd>
                        <dt class="col-sm-5">Model year from</dt>
                        <dd class="col-sm-7">@Html.DisplayFor( model => model.ModelYearFrom )</dd>
                        <dt class="col-sm-5">Model year to</dt>
                        <dd class="col-sm-7">@Html.DisplayFor( model => model.ModelYearTo )</dd>
                        <dt class="col-sm-5 mt-2">Rating</dt>
                        <dd class="col-sm-7">
                            <div class="star-rating read-only" data-rating="@Model.Rating">
                                <span>★★★★★</span>
                            </div>
                            @String.Format( "{0}", Model.Rating > 0 ? Model.Rating.ToString() : "" )
                        </dd>
                    </dl>
                </div>
                <div class="col-md-3">
@*                     <dl class="row">
                        <dt class="col-sm-4">Rating</dt>
                        <dd class="col-sm-8">
                            <div class="star-rating read-only" data-rating="@Model.Rating">
                                <span>★★★★★</span>
                            </div>
                            @String.Format( "{0}", Model.Rating > 0 ? Model.Rating.ToString() : "" )
                        </dd>
                    </dl> *@
                </div>
                <div class="col-md-3">
                    <div class="col-sm-12">
                        @if( Model.ImageData != null ) {
                            <img src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)" class="car-img img-fluid" alt="Car Image" />
                        }
                    </div>
                </div>
            </div>
            @* TO DO *@
@*             <div class="row">
                <dl class="col-12">
                    <dt>Review (About)</dt>
                    <dd>@Html.DisplayFor( model => model.Description )</dd>
                </dl>
            </div> *@
        </div>
    </div>

    <div class="pagetitle mb-2">
        <h1>Engines</h1>
    </div>
    <div class="card">
        <div class="card-body pb-0">
            <div class="row my-3">
                @if( Model.Engines == null || !Model.Engines.Any() ) {
                    <p>No engines available.</p>
                }
                else {
                    @if( !groupedEngines.Any() ) {
                        <p>No engines available by fuel type.</p>
                    }
                    else {
                        @* Create a new row for each group *@
                        foreach( var group in groupedEngines ) {
                            <div class="col-md-3">
                                @* Adjust column size as needed *@
                                <h5 class="engine-type fw-semibold">@group.Key</h5>
                                <ul class="list-unstyled mb-0">
                                    @foreach( var engine in group ) {
                                        <li class="engine-item fw-semibold">
                                            <i class="bi-caret-right-fill primary-color"></i><a href="#" class="text-decoration-none text-dark engine-link">@engine.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                }
            </div>

        </div>
    </div>

    <!-- Include the reviews partial view -->
    <div class="row mt-4">
        <div class="col-12">
            <div class="pagetitle mb-2">
                <h1>User reviews</h1>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-2 col-xl-2 mb-2">
                <a asp-action="CreateCarReview" asp-route-id="@Model.ID" class="btn btn-outline-primary" style="display: inline-block; width: 100%;"><i class="bi-plus-circle"></i> Add car review</a>
            </div>
            @await Html.PartialAsync( "_CarReviewList", Model.CarReviews )
        </div>
    </div>

    @* <a asp-action="GenerateImage">Generate image</a> *@

}

else {
    <div class="alert alert-danger">
        Nije odabran ispravni ID automobila.
    </div>

}


@section Scripts {
    <script src="~/js/Car/CarDetails.js"></script>
}
