@model Review.Model.Car
@{
    ViewData["Title"] = "Details";
}
<ol class="breadcrumb">
    <li><a asp-action="Index">Cars list /</a></li>
    <li class="active">&nbsp;@Model.Brand?.Name</li>
</ol>
<div class="pagetitle">
    <h1>Car details</h1>
</div>
@if (Model != null)
{
    <div class="row">
        <hr />
        <dl class="col-6 dl-horizontal">
            <dt>
                Brand
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>
            <dt>
                Model
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Model)
            </dd>
            <dt>
                Generation
            </dt>
            <dd>
                @Html.DisplayFor( model => model.Generation )
            </dd>
            <dt>
                Model Year
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ModelYear.Year).
            </dd>
            <dt>
                Engine
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Engine)
            </dd>
            <dt>
                Power 
            </dt>
            <dd>
                @Html.DisplayFor( model => model.EnginePower ) hp
            </dd>
            <dt>
                Torque
            </dt>
            <dd>
                @Html.DisplayFor( model => model.Torque ) Nm
            </dd>
            <dt>
                Engine displacement
            </dt>
            <dd>
                @Html.DisplayFor( model => model.EngineDisplacement ) cm<sup>3</sup>
            </dd>
            <dt>
                Max. speed
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TopSpeed) km/h
            </dd>
            <dt>
                Acceleration
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Acceleration) sec
            </dd>
        </dl>
        <dl class="col-6 dl-horizontal">
            <dt>
                Country
            </dt>
            <dd>
                @Model?.Brand.Country?.Name
            </dd>
            <dt>
                Reviewer
            </dt>
            <dd>
                @Model?.Reviewer?.FullName
            </dd>
            <dt>
                Rating
            </dt>
            <dd>
                @Model.Rating ★
            </dd>
            <div class="col-6">
                @if( Model.ImageData != null ) {
                    <img src="data:@Model.ImageMimeType;base64,@Convert.ToBase64String(Model.ImageData)" class="img-fluid" alt="Car Image" />
                }
            </div>
        </dl>
    </div>
    <div class="row">
        <dl class="col-12 dl-horizontal">
            <dt>
                Summary (About)
            </dt>
            <dd>
                @Html.DisplayFor( model => model.Description )
            </dd>
        </dl>
    </div>

}
else
{
    <div class="alert alert-danger">
        Nije odabran ispravni ID automobila.
    </div>

}
